.hidden {
    display: none;
}

.search-bar-dropdown {
    background-color: white;
    position: absolute;
    top: 70px;
    width: 50%;
    left: 12%;
    height: 100vh;
    overflow-y: scroll;
}

.dropdown-row {
    display: flex;
    padding: .5rem;
    border-bottom: 1px solid black;
}

.dropdown-img {
    width: 10%;
}

.thumbnail {
    height: 67px;
    width: 45px;
}