@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 10);
    font-family: 'Inter', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}

.nav {
    width: 100%;
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #355599;
}

.logo {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.nav-items {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.link {
    color: white;
}

.search {
    border-radius: 5px;
    border: none;
    padding: .5rem;
    width: 100%;
    height: 30px;
}

.search-wrapper {
    display: flex;
    width: 40%;
    margin: 0 3rem;
    position: relative;

}

.search-wrapper>img {
    position: absolute;
    right: 7px;
    top: 7px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.card {
    height: 450px;
    width: 100%;
    text-align: center;
    background-color: #2b2828;
    border-radius: 5px;
}

.card-img {
    height: 60%;
    width: 100%;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-text-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
}

.card-heading {
    font-size: 1rem;
    margin: 0 .5rem;
}


.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    margin-left: .2rem;
}

.card-rating {
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

.genre {
    font-size: .7rem;
    margin-top: .2rem;
}

.card-button {
    padding: .7rem 1rem;
    background-color: #355599;
    color: white;
    border: none;
    margin: .3rem auto;
    width: 45%;
    border-radius: 5px;
    cursor: pointer;
}

.card-button>.link {
    width: 100%;
}

.card-footer {
    display: flex;
    /* margin-top: 1rem; */
}